body {
  background-color: rgba(198, 198, 198, 0.1);
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  line-height: 0.8; }

a {
  -webkit-transition: background-color 0.3s linear 0s, color 0.3s linear 0s;
  transition: background-color 0.3s linear 0s, color 0.3s linear 0s;
  outline: none;
  text-decoration: none; }
  a:hover, a:active, a:visited {
    color: darkorange; }

.wrapper-clobal {
  position: relative;
  margin: 0 auto;
  max-width: 1400px;
  background-color: #ffffff; }

.fon-opasity {
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: height, width;
  transition-property: height, width;
  display: block;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 112, 168, 0.7); }

.form-contact {
  text-align: right;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 500px;
  width: 100%; }
  .form-contact input, .form-contact textarea {
    margin: 0 0 5px;
    min-height: 40px;
    padding: 2px 8px;
    font-family: "Open Sans", sans-serif;
    resize: none;
    border: 1px solid #989898;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    outline: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    max-width: 500px;
    width: 100%; }
    .form-contact input:focus:required:invalid, .form-contact textarea:focus:required:invalid {
      border: 1px solid red; }
    .form-contact input:focus:required:valid, .form-contact textarea:focus:required:valid {
      border: 1px solid teal; }
  .form-contact button {
    cursor: pointer;
    color: #3070a8;
    background: transparent;
    margin: 20px 0 0;
    text-transform: uppercase;
    line-height: 30px;
    width: 145px;
    height: 35px;
    border: 1px solid #3070a8; }
  .form-contact button:hover, .form-contact a:active {
    -webkit-transition: background-color 0.3s linear 0s, color 0.3s linear 0s;
    transition: background-color 0.3s linear 0s, color 0.3s linear 0s;
    color: #FFFFFF;
    background-color: #3070a8; }
  .form-contact button[disabled] {
    cursor: auto;
    color: rgba(152, 152, 152, 0.9);
    background-color: rgba(152, 152, 152, 0.3);
    border-color: rgba(152, 152, 152, 0.2); }
  .form-contact label {
    margin: 0 0 5px;
    display: block;
    float: left;
    color: #3070a8;
    font-size: 14px; }

.toast {
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  text-align: center;
  line-height: 50px;
  z-index: 99;
  position: fixed;
  top: 50%;
  margin-top: -25px;
  left: 50%;
  margin-left: -150px;
  display: none;
  width: 300px;
  min-height: 50px; }
  .toast p {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    background-color: transparent; }

.success {
  background-color: rgba(0, 128, 128, 0.9); }

.error {
  background-color: rgba(255, 44, 50, 0.9); }

/*header part*/
header {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  height: 100vh;
  background-image: url("../img/fon1.png");
  background-size: cover; }

.wrapper-header {
  position: relative;
  z-index: 3;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  text-align: justify;
  margin: 0 auto;
  max-width: 1045px;
  height: 70px;
  line-height: 70px; }

.menu-spy {
  line-height: 50px;
  margin-top: -50px;
  max-width: 100%;
  width: 100%;
  background-color: rgba(65, 82, 92, 0.85);
  position: fixed;
  left: 0; }
  .menu-spy ul {
    height: 50px;
    text-align: center; }

.ms-show {
  -webkit-transition: -webkit-transform 0.5s linear 0s;
  transition: -webkit-transform 0.5s linear 0s;
  transition: transform 0.5s linear 0s;
  transition: transform 0.5s linear 0s, -webkit-transform 0.5s linear 0s;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px); }

.ms-hide {
  -webkit-transition: -webkit-transform 0.5s linear 0s;
  transition: -webkit-transform 0.5s linear 0s;
  transition: transform 0.5s linear 0s;
  transition: transform 0.5s linear 0s, -webkit-transform 0.5s linear 0s;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px); }

.hide-menu {
  display: none;
  position: absolute;
  top: 0;
  right: 17px;
  text-align: center; }
  .hide-menu i {
    color: #FFFFFF;
    cursor: pointer;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #ee8129;
    border: 2px solid #ee8129;
    -webkit-box-shadow: 0 0 3px 3px rgba(238, 129, 41, 0.3);
            box-shadow: 0 0 3px 3px rgba(238, 129, 41, 0.3); }

.wrapper-header::before {
  content: "";
  display: block;
  width: 100%;
  height: 0; }

.wrapper-header::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden; }

.logo {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 25px;
  display: block;
  position: relative; }

.logo h1 {
  line-height: 1.0;
  text-transform: uppercase;
  font-size: 28px;
  color: #FFFFFF; }

.logo span:last-of-type {
  letter-spacing: 2px;
  text-transform: none;
  color: #ee8129; }

.logo-img {
  position: relative; }

.logo-img img {
  position: absolute;
  top: 9px;
  left: -55px;
  height: 50px; }

nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: relative; }

.header-slider-menu {
  text-align: right;
  display: block;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  list-style-type: none; }

nav ul li {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  white-space: nowrap;
  display: inline-block;
  margin-left: 30px; }

nav ul li:first-of-type {
  margin-left: 0; }

nav ul li a, nav ul li a:visited {
  color: #FFFFFF; }

nav ul li a::after {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  width: 0;
  left: 0;
  bottom: 0;
  content: "";
  border-bottom: 4px solid #ee8129;
  margin-bottom: 1px;
  position: absolute; }

nav ul li a:hover, nav ul li a:active, .selected {
  color: rgba(238, 129, 41, 0.9);
  font-weight: 600; }

nav ul li a:hover::after, nav ul li a:active::after, .selected::after {
  width: 100%; }

.selected {
  color: #ee8129 !important; }

.wraper-banner {
  overflow: hidden;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 152px auto 105px;
  max-width: 1045px; }
  .wraper-banner h2, .wraper-banner p, .wraper-banner .banner-button {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    line-height: 1.6;
    color: #FFFFFF;
    display: inline-block; }
  .wraper-banner h2 {
    padding: 0 60px;
    font-size: 40px; }
    .wraper-banner h2 span {
      font-weight: 300;
      font-size: 32px; }
  .wraper-banner p {
    font-family: "Poiret One", cursive;
    font-style: italic;
    font-size: 20px;
    margin: 35px 0;
    padding: 0 60px; }
  .wraper-banner .banner-button {
    text-transform: uppercase;
    line-height: 40px;
    width: 245px;
    height: 40px;
    border: 1px solid; }
    .wraper-banner .banner-button a {
      display: inline-block;
      width: 100%;
      height: 100%;
      color: #FFFFFF; }
    .wraper-banner .banner-button a:hover, .wraper-banner .banner-button a:active {
      color: #3070a8;
      background-color: #FFFFFF; }

.wrapper-services {
  margin: 40px auto 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  display: block;
  max-width: 1045px;
  padding: 0 15px;
  overflow: hidden; }
  .wrapper-services h2 {
    font-size: 30px;
    color: #41525c; }
  .wrapper-services .services-content {
    position: relative;
    text-align: justify; }
    .wrapper-services .services-content .content-item {
      vertical-align: top;
      text-align: center;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 75px 0 0;
      width: 304px;
      display: inline-block; }
      .wrapper-services .services-content .content-item div {
        display: inline-block;
        line-height: 90px;
        width: 90px;
        height: 90px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background-color: #3070a8; }
        .wrapper-services .services-content .content-item div span {
          font-size: 40px;
          color: #FFFFFF; }
      .wrapper-services .services-content .content-item h3 {
        font-size: 30px;
        text-transform: uppercase;
        margin: 33px 0 26px;
        color: #3070a8; }
      .wrapper-services .services-content .content-item p {
        font-size: 14px;
        text-align: justify;
        color: #989898;
        line-height: 1.2; }
  .wrapper-services .services-content::after {
    width: 100%;
    height: 0;
    display: inline-block;
    content: "";
    visibility: hidden;
    overflow: hidden; }
  .wrapper-services .services-content::before {
    width: 100%;
    height: 0;
    display: block;
    content: ""; }

.team {
  text-align: center;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  display: block;
  min-height: 620px;
  background-image: url("../img/fon2.png");
  background-size: cover; }
  .team .fon-opasity {
    background-color: rgba(65, 82, 92, 0.85); }
  .team .wrapper-team {
    z-index: 2;
    position: relative;
    text-align: center;
    margin: 50px auto;
    max-width: 1045px;
    padding: 0 10px; }
    .team .wrapper-team h2 {
      font-weight: 700;
      line-height: 2.0;
      font-size: 28px;
      color: #ee8129; }
    .team .wrapper-team h3 {
      font-weight: 400;
      line-height: 2.0;
      font-size: 20px;
      color: #FFFFFF; }
    .team .wrapper-team ul li {
      display: block;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 0 50px;
      color: #FFFFFF; }
      .team .wrapper-team ul li .bxslider-text {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        line-height: 2.0; }
        .team .wrapper-team ul li .bxslider-text h3, .team .wrapper-team ul li .bxslider-text h4 {
          line-height: 2.5; }
        .team .wrapper-team ul li .bxslider-text h3 {
          font-weight: 900; }
        .team .wrapper-team ul li .bxslider-text p {
          font-family: "Poiret One", cursive;
          font-style: italic;
          line-height: 1.7; }
        .team .wrapper-team ul li .bxslider-text .team-social {
          margin: 20px 0 0;
          text-align: center; }
          .team .wrapper-team ul li .bxslider-text .team-social span a {
            text-align: center;
            margin: 0 10px;
            line-height: 25px;
            border: 1px solid #FFFFFF;
            font-size: 12px;
            display: inline-block;
            -webkit-border-radius: 50%;
                    border-radius: 50%;
            color: #FFFFFF;
            width: 25px;
            height: 25px; }
          .team .wrapper-team ul li .bxslider-text .team-social span a:hover {
            background-color: #FFFFFF;
            color: #41525c; }
      .team .wrapper-team ul li .bxslider-foto {
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
        .team .wrapper-team ul li .bxslider-foto .bxslider-foto-wrapper {
          background: url("../img/team.png") no-repeat #ffffff;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          margin: 25px auto 0;
          width: 185px;
          height: 185px;
          -webkit-border-radius: 50%;
                  border-radius: 50%; }
        .team .wrapper-team ul li .bxslider-foto .teamlead {
          background-position: 16px 16px; }
        .team .wrapper-team ul li .bxslider-foto .creativeofficer {
          background-position: 16px -142px; }
        .team .wrapper-team ul li .bxslider-foto .fullstack {
          background-position: -157px -302px; }
        .team .wrapper-team ul li .bxslider-foto .jwdevelop {
          background-position: -157px 16px; }
        .team .wrapper-team ul li .bxslider-foto .webdevelop {
          background-position: -157px -143px; }
        .team .wrapper-team ul li .bxslider-foto .markupdevelop {
          background-position: -333px -301px; }
        .team .wrapper-team ul li .bxslider-foto .frendevel {
          background-position: -333px -143px; }
  .team .team-butoon {
    margin: 35px 0;
    position: relative;
    z-index: 2;
    line-height: 40px;
    width: 245px;
    height: 40px;
    border: 1px solid #FFFFFF;
    display: inline-block; }
    .team .team-butoon a {
      display: inline-block;
      width: 100%;
      height: 100%;
      color: #FFFFFF;
      text-transform: uppercase; }
      .team .team-butoon a:hover {
        background-color: #FFFFFF;
        color: #41525c; }

/*team-cards part*/
.team-cards {
  padding: 65px 0 0;
  text-align: center; }
  .team-cards h2 {
    color: #41525c;
    font-size: 30px; }

.wrapper-cards {
  position: relative;
  text-align: justify;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 10px;
  display: block;
  margin: 40px auto; }

.wrapper-cards::after {
  width: 100%;
  height: 0;
  display: inline-block;
  content: "";
  visibility: hidden;
  overflow: hidden; }

.wrapper-cards::before {
  width: 100%;
  height: 0;
  display: block;
  content: ""; }

.container-value {
  margin: 20px 10px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 1px 2px 4px rgba(101, 109, 120, 0.7);
          box-shadow: 1px 2px 4px rgba(101, 109, 120, 0.7); }

.container-value-header {
  text-transform: uppercase;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 73px;
  color: white;
  font-size: 24px;
  height: 73px; }

.container-value-body {
  max-height: 410px;
  overflow: hidden;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 23px 15px;
  background-color: #FFFFFF; }

.container-value-body h2 {
  color: rgba(53, 73, 90, 0.9);
  line-height: 0.8;
  text-align: center;
  margin: 0 auto;
  font-size: 24px;
  text-transform: uppercase; }

.container-value-body p {
  display: inline-block;
  line-height: 0.8;
  color: rgba(53, 73, 90, 0.9);
  position: relative;
  text-align: center;
  margin: 27px 0 0;
  font-size: 72px; }

.container-value-body ul {
  text-align: justify;
  color: rgba(53, 73, 90, 0.9);
  list-style-type: none;
  margin: 25px 0 18px;
  padding: 0; }

.container-value-body li {
  padding: 6px 0;
  margin-top: 1px; }

.container-value-body li:nth-of-type(2n-1) {
  background-color: rgba(237, 245, 253, 0.9); }

.container-value-body li:nth-of-type(2n) {
  background-color: rgba(245, 245, 246, 0.9); }

.container-value-body span {
  margin: 0 17px 0 33px;
  color: rgba(151, 190, 9, 0.9); }

.prm-button {
  margin: 0 4px 7px; }
  .prm-button a {
    color: #FFFFFF;
    display: block; }

.prm-button div {
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  line-height: 41px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  width: 100%;
  height: 41px;
  color: #FFFFFF; }
  .prm-button div:hover {
    -webkit-transition: text-shadow 0.3s linear 0s, -webkit-box-shadow 0.3s linear 0s;
    transition: text-shadow 0.3s linear 0s, -webkit-box-shadow 0.3s linear 0s;
    transition: box-shadow 0.3s linear 0s, text-shadow 0.3s linear 0s;
    transition: box-shadow 0.3s linear 0s, text-shadow 0.3s linear 0s, -webkit-box-shadow 0.3s linear 0s;
    text-shadow: 1px 1px 1px #41525c;
    -webkit-box-shadow: 1px 1px 1px #41525c;
            box-shadow: 1px 1px 1px #41525c; }

.prm-button.best div:active,
.prm-button.standart div:active,
.prm-button.ultimate div:active,
.prm-button.backend div:active,
.prm-button div:active span {
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none; }

.prm-button span {
  margin: 0;
  color: #FFFFFF; }

.container-value.best {
  background-color: #ee8129;
  border: 4px solid #ee8129; }
  .container-value.best .prm-button.best div {
    background-color: rgba(238, 129, 41, 0.9); }

.container-value.standart {
  background-color: #3070a8;
  border: 4px solid #3070a8; }
  .container-value.standart .prm-button.standart div {
    background-color: rgba(48, 112, 168, 0.9); }

.container-value.ultimate {
  background-color: #1cb79a;
  border: 4px solid #1cb79a; }
  .container-value.ultimate .prm-button.ultimate div {
    background-color: rgba(28, 183, 154, 0.9); }

.container-value.backend {
  background-color: #41525c;
  border: 4px solid #41525c; }
  .container-value.backend .prm-button.backend div {
    background-color: rgba(65, 82, 92, 0.9); }

.white-popup ul li {
  padding: 5px 15px 5px 35px;
  position: relative;
  list-style-type: none; }
  .white-popup ul li span {
    color: rgba(151, 190, 9, 0.9);
    position: absolute;
    left: 0; }

.portfolio {
  margin: 0 auto;
  max-width: 1045px;
  padding: 65px 10px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  text-align: center; }
  .portfolio .container-item-portfolio {
    margin: 40px -15px 0 -15px; }
    .portfolio .container-item-portfolio .item-portfolio {
      background-size: cover;
      background-origin: border-box;
      background-position: center;
      -webkit-transition: -webkit-box-shadow 0.3s linear 0s;
      transition: -webkit-box-shadow 0.3s linear 0s;
      transition: box-shadow 0.3s linear 0s;
      transition: box-shadow 0.3s linear 0s, -webkit-box-shadow 0.3s linear 0s;
      position: relative;
      margin: 15px;
      display: inline-block;
      max-width: 318px;
      width: 100%;
      height: 190px; }
      .portfolio .container-item-portfolio .item-portfolio:hover {
        cursor: pointer; }
        .portfolio .container-item-portfolio .item-portfolio:hover > div {
          cursor: pointer;
          height: 0;
          width: 0; }
          .portfolio .container-item-portfolio .item-portfolio:hover > div p {
            display: none; }
      .portfolio .container-item-portfolio .item-portfolio a {
        width: 0;
        height: 0;
        display: none; }
        .portfolio .container-item-portfolio .item-portfolio a:first-of-type {
          width: 100%;
          height: 100%;
          display: block; }
      .portfolio .container-item-portfolio .item-portfolio:nth-of-type(1) {
        background-image: url("../img/portfolio-th-1.png"); }
      .portfolio .container-item-portfolio .item-portfolio:nth-of-type(2) {
        background-image: url("../img/portfolio-th-2.png"); }
      .portfolio .container-item-portfolio .item-portfolio:nth-of-type(3) {
        background-image: url("../img/portfolio-th-3.png"); }
      .portfolio .container-item-portfolio .item-portfolio:nth-of-type(4) {
        background-image: url("../img/portfolio1.png"); }
      .portfolio .container-item-portfolio .item-portfolio:nth-of-type(5) {
        background-image: url("../img/portfolio-th-4.png"); }
      .portfolio .container-item-portfolio .item-portfolio:last-of-type {
        background-image: url("../img/portfolio-th-5.png"); }
      .portfolio .container-item-portfolio .item-portfolio .fon-opasity {
        background-color: rgba(65, 82, 92, 0.7);
        color: #ffffff;
        text-align: center;
        display: block; }
        .portfolio .container-item-portfolio .item-portfolio .fon-opasity p {
          line-height: 1.4;
          margin: 70px 10px;
          display: block; }
        .portfolio .container-item-portfolio .item-portfolio .fon-opasity:hover {
          display: none; }
      .portfolio .container-item-portfolio .item-portfolio:hover {
        -webkit-box-shadow: 1px 7px 10px #41525c;
                box-shadow: 1px 7px 10px #41525c; }
  .portfolio h2 {
    font-size: 30px;
    color: #41525c; }

.map {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }
  .map iframe {
    max-width: 1400px;
    margin: 0;
    padding: 0; }

.footer-big {
  background-color: #FFFFFF; }

.wrapper-footer-big {
  overflow: hidden;
  margin: 0 auto 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1045px;
  padding: 40px 10px 0; }
  .wrapper-footer-big .contact {
    float: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden; }
    .wrapper-footer-big .contact ul {
      margin: 0 0 50px;
      padding: 0; }
      .wrapper-footer-big .contact ul li {
        position: relative;
        margin: 0 0 30px;
        padding: 0 0 0 60px;
        color: #41525c;
        font-size: 16px;
        list-style: none; }
        .wrapper-footer-big .contact ul li sub {
          font-size: 8px; }
        .wrapper-footer-big .contact ul li i {
          color: #3070a8;
          font-size: 26px;
          position: absolute;
          left: 0; }
    .wrapper-footer-big .contact .social {
      max-width: 320px;
      display: block;
      position: relative;
      text-align: justify; }
      .wrapper-footer-big .contact .social .facebook, .wrapper-footer-big .contact .social .twitter, .wrapper-footer-big .contact .social .linkidn {
        line-height: 46px;
        text-align: center;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        border: 1px solid #3070a8;
        display: inline-block;
        width: 46px;
        height: 46px; }
        .wrapper-footer-big .contact .social .facebook a, .wrapper-footer-big .contact .social .twitter a, .wrapper-footer-big .contact .social .linkidn a {
          display: block;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          color: #3070a8;
          font-size: 26px; }
      .wrapper-footer-big .contact .social .facebook:hover, .wrapper-footer-big .contact .social .facebook:active,
      .wrapper-footer-big .contact .social .twitter:hover, .wrapper-footer-big .contact .social .twitter:active,
      .wrapper-footer-big .contact .social .linkidn:hover, .wrapper-footer-big .contact .social .linkidn:active {
        background-color: #3070a8; }
        .wrapper-footer-big .contact .social .facebook:hover a, .wrapper-footer-big .contact .social .facebook:active a,
        .wrapper-footer-big .contact .social .twitter:hover a, .wrapper-footer-big .contact .social .twitter:active a,
        .wrapper-footer-big .contact .social .linkidn:hover a, .wrapper-footer-big .contact .social .linkidn:active a {
          color: #FFFFFF; }
    .wrapper-footer-big .contact .social::after {
      content: " ";
      width: 100%;
      height: 0;
      display: inline-block;
      visibility: hidden;
      overflow: hidden; }
    .wrapper-footer-big .contact .social::before {
      content: " ";
      display: block;
      width: 100%;
      height: 0; }

.user {
  float: right; }

.footer-small {
  height: 70px;
  line-height: 90px;
  text-align: center;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #3070a8; }
  .footer-small p {
    font-size: 12px;
    color: #FFFFFF;
    line-height: 2;
    display: inline-block; }

.bx-wrapper {
  margin: 40px auto 0;
  background: transparent;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none; }
  .bx-wrapper .bx-controls-direction a {
    text-indent: 0; }
    .bx-wrapper .bx-controls-direction a i {
      -webkit-transition: text-shadow 0.2s linear 0s, -webkit-transform 0.2s ease-out 0s;
      transition: text-shadow 0.2s linear 0s, -webkit-transform 0.2s ease-out 0s;
      transition: transform 0.2s ease-out 0s, text-shadow 0.2s linear 0s;
      transition: transform 0.2s ease-out 0s, text-shadow 0.2s linear 0s, -webkit-transform 0.2s ease-out 0s;
      color: rgba(255, 255, 255, 0.1);
      font-size: 45px;
      font-weight: 100;
      -webkit-transform: scale(0.4, 4);
          -ms-transform: scale(0.4, 4);
              transform: scale(0.4, 4); }
  .bx-wrapper .bx-controls-direction a:hover > i {
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4); }
  .bx-wrapper .bx-controls-direction a:active > i {
    -webkit-transform: scale(0.3, 4.5);
        -ms-transform: scale(0.3, 4.5);
            transform: scale(0.3, 4.5); }
  .bx-wrapper .bx-pager .bx-pager-item a {
    background: #FFFFFF; }
  .bx-wrapper .bx-pager .bx-pager-item a.active {
    background: #41525c; }
  .bx-wrapper .bx-next {
    background: none; }

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto; }

/* ====== Zoom in ====== */
.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */ }
  .mfp-zoom-in .mfp-with-anim {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8); }
  .mfp-zoom-in.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
  .mfp-zoom-in.mfp-ready .mfp-with-anim {
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }
  .mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8; }
  .mfp-zoom-in.mfp-removing .mfp-with-anim {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0; }
  .mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0; }

/* ====== Newspaper effect ====== */
.mfp-newspaper {
  /* start state */
  /* animate in */
  /* animate out */ }
  .mfp-newspaper .mfp-with-anim {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: scale(0) rotate(500deg);
        -ms-transform: scale(0) rotate(500deg);
            transform: scale(0) rotate(500deg); }
  .mfp-newspaper.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
  .mfp-newspaper.mfp-ready .mfp-with-anim {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
        -ms-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg); }
  .mfp-newspaper.mfp-ready.mfp-bg {
    opacity: 0.8; }
  .mfp-newspaper.mfp-removing .mfp-with-anim {
    -webkit-transform: scale(0) rotate(500deg);
        -ms-transform: scale(0) rotate(500deg);
            transform: scale(0) rotate(500deg);
    opacity: 0; }
  .mfp-newspaper.mfp-removing.mfp-bg {
    opacity: 0; }

/*
====== Move-horizontal effect ======
*/
.mfp-move-horizontal {
  /* start state */
  /* animate in */
  /* animate out */ }
  .mfp-move-horizontal .mfp-with-anim {
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
            transform: translateX(-50px); }
  .mfp-move-horizontal.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  .mfp-move-horizontal.mfp-ready .mfp-with-anim {
    opacity: 1;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }
  .mfp-move-horizontal.mfp-ready.mfp-bg {
    opacity: 0.8; }
  .mfp-move-horizontal.mfp-removing .mfp-with-anim {
    -webkit-transform: translateX(50px);
        -ms-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0; }
  .mfp-move-horizontal.mfp-removing.mfp-bg {
    opacity: 0; }

/*
====== Move-from-top effect ======
*/
.mfp-move-from-top {
  /* start state */
  /* animate in */
  /* animate out */ }
  .mfp-move-from-top .mfp-content {
    vertical-align: top; }
  .mfp-move-from-top .mfp-with-anim {
    opacity: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
            transform: translateY(-100px); }
  .mfp-move-from-top.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
  .mfp-move-from-top.mfp-ready .mfp-with-anim {
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }
  .mfp-move-from-top.mfp-ready.mfp-bg {
    opacity: 0.8; }
  .mfp-move-from-top.mfp-removing .mfp-with-anim {
    -webkit-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0; }
  .mfp-move-from-top.mfp-removing.mfp-bg {
    opacity: 0; }

/*
====== 3d unfold ======
*/
.mfp-3d-unfold {
  /* start state */
  /* animate in */
  /* animate out */ }
  .mfp-3d-unfold .mfp-content {
    -webkit-perspective: 2000px;
            perspective: 2000px; }
  .mfp-3d-unfold .mfp-with-anim {
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform: rotateY(-60deg);
            transform: rotateY(-60deg); }
  .mfp-3d-unfold.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
  .mfp-3d-unfold.mfp-ready .mfp-with-anim {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); }
  .mfp-3d-unfold.mfp-ready.mfp-bg {
    opacity: 0.8; }
  .mfp-3d-unfold.mfp-removing .mfp-with-anim {
    -webkit-transform: rotateY(60deg);
            transform: rotateY(60deg);
    opacity: 0; }
  .mfp-3d-unfold.mfp-removing.mfp-bg {
    opacity: 0; }

/*
====== Zoom-out effect ======
*/
.mfp-zoom-out {
  /* start state */
  /* animate in */
  /* animate out */ }
  .mfp-zoom-out .mfp-with-anim {
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3); }
  .mfp-zoom-out.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
  .mfp-zoom-out.mfp-ready .mfp-with-anim {
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }
  .mfp-zoom-out.mfp-ready.mfp-bg {
    opacity: 0.8; }
  .mfp-zoom-out.mfp-removing .mfp-with-anim {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 0; }
  .mfp-zoom-out.mfp-removing.mfp-bg {
    opacity: 0; }

@media screen and (max-width: 1330px) {
  .wrapper-cards {
    text-align: center !important; } }

@media screen and (max-width: 1025px) {
  header {
    height: auto; } }

@media screen and (max-width: 999px) {
  .services-content {
    text-align: center !important; }
    .services-content .content-item {
      margin: 0 5%; }
  .wrapper-cards {
    text-align: center !important; } }

@media screen and (max-width: 890px) {
  .contact {
    margin: 0 auto !important;
    float: none !important; }
    .contact ul {
      max-width: 500px !important;
      margin-left: -webkit-calc(50% - 250px) !important;
      margin-left: calc(50% - 250px) !important; }
    .contact .social {
      margin: 0 auto;
      max-width: 500px !important; }
  .user {
    margin: 0 auto !important;
    float: none !important; } }

@media screen and (max-width: 768px) {
  .banner-button {
    margin-top: 20px !important; }
  .hide-menu {
    position: fixed;
    display: block; }
  nav {
    position: static; }
    nav .header-slider-menu {
      display: none;
      background-color: rgba(65, 82, 92, 0.95);
      position: fixed;
      z-index: 5;
      top: 0;
      right: 0;
      height: 100%;
      width: 125px; }
      nav .header-slider-menu li {
        margin-left: 15px;
        text-align: left;
        display: block; }
        nav .header-slider-menu li:first-of-type {
          margin-left: 15px; }
  .menu-spy, .ms-hide, .ms-show {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; } }

@media screen and (max-width: 600px) {
  .wraper-banner {
    margin: 45px auto 25px !important; }
  .wrapper-services {
    margin: 33px auto; }
    .wrapper-services .content-item {
      padding-top: 40px !important; }
  .wrapper-team {
    margin: 25px auto 25px !important; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .contact ul {
    margin-left: 0 !important; }
  .wrapper-team ul li {
    text-align: justify !important;
    padding: 0 5px !important; }
    .wrapper-team ul li p {
      line-height: 1.2 !important; }
  .bx-controls-direction {
    display: none; }
  h2 {
    font-size: 20px !important; }
  h3 {
    font-size: 18px !important; }
  .wraper-banner h2 {
    padding: 0 20px !important; }
    .wraper-banner h2 > span {
      font-size: 20px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .wrapper-services, .portfolio, .wrapper-cards {
    padding: 0; }
  .content-item {
    margin: 0 5% !important; } }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 769px) {
  .header-slider-menu {
    display: block !important; } }

/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */

/*# sourceMappingURL=main.css.map */
