@font-face {
    font-family: 'pf_bague_sans_problack';
    src: url('pfbaguesanspro-black-webfont.woff2') format('woff2'),
    url('pfbaguesanspro-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_bague_sans_prolight';
    src: url('pfbaguesanspro-light-webfont.woff2') format('woff2'),
    url('pfbaguesanspro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_square_sans_probold';
    src: url('pfsquaresanspro-bold-webfont.woff2') format('woff2'),
    url('pfsquaresanspro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_square_sans_proregular';
    src: url('pfsquaresanspro-regular-webfont.woff2') format('woff2'),
    url('pfsquaresanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}